.wrapper {
  padding: 200px;
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

h2 {
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.parent {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/948455381365554251/BCE4564B6290F469EC321A8B2E16F5EA1CA384C0/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true");
  background-size: 100% 100%;
}
