.wrapper {
  padding: 200px;
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

h2 {
  padding-top: 100px;
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  color: black;
}

.parent {
  background-image: url("https://i.kym-cdn.com/photos/images/original/001/169/088/c15.png");
}
