.jumbotron {
  background-repeat: repeat;
  background-color: #362336;
  color: #a7913d;
  border-style: double;
  border-color: #9a3192;
  border-width: 5px;
  border-radius: 0px;
  padding: 50px;
}

.display-4 {
  opacity: 1;
  font-weight: bold;
}
#jojo {
  height: 300px;
  float: right;
}

.lead {
  opacity: 1;
  font-weight: bold;
  font-size: 30px;
}
