.jumbotron {
  background-repeat: repeat;
  background-color: #362336;
  color: #a7913d;
  border-style: double;
  border-color: #9a3192;
  border-width: 5px;
  border-radius: 0px;
  padding: 30px;
  position: relative;
}

.display-4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#jojo {
  height: 300px;
  float: right;
  margin-top: 0px;
  position: relative;
  top: -30px;
}

.lead {
  opacity: 1;
  font-weight: bold;
  font-size: 30px;
  font-family: monospace;
}
